# venv
.venv/
__pycache__/
*.pyc

# streamlit
.streamlit/

# mac
.DS_Store

# notebooks
.ipynb_checkpoints/
.env

__pycache__/
*.pyc
.venv/
.env
.data/embeddings.npy (or data/*.npy)
data/embeddings.npy
